h1 {
    color:brown;
}
a {
    direction: none;
    text-decoration: none;
    color: rgb(230, 123, 123);
}
.search-container {
    position: relative;
  }

  .search-input {
    border-radius: 50px;
    padding-left: 40px;
    width: 250px;
    border: none;
  }

  .search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 50px 50px 0;
    background: transparent;
    border: none;
  }

  .search-button i {
    color: black; /* Thay đổi màu icon thành đen */
  }

  .form-control:focus {
    box-shadow: none;
    outline: none;
  }
  .equal-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0; /* Loại bỏ bất kỳ khoảng cách dưới nào */
  }
  
  .equal-card .card-body {
    flex-grow: 1;
    padding-bottom: 0; /* Đảm bảo không có padding thừa */
  }
  
  .card img {
    object-fit: cover;
    height: 100%; /* Đảm bảo hình ảnh chiếm đủ chiều cao */
  }
  
  .row {
    margin-bottom: 0; /* Đảm bảo dòng không có khoảng trống dưới */
  }
  
  
  .card {
    height: 100%; /* Set the height of each card to 100% of its container */
    display: flex;
    flex-direction: column;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* Loại bỏ khoảng trắng dưới hình ảnh */
  }
  
  
  .card-body {
    flex-grow: 1; /* Allow the card body to grow to fill the available space */
  }
  /* Trong public/css/ hoặc thẻ style nội tuyến */
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* 🖥️ Mặc định cho desktop */
.fullscreen-image {
  background-image: url("https://scontent.fsgn19-1.fna.fbcdn.net/v/t39.30808-6/481768650_1758637748034689_5373605659128996150_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=RzXc7BOHF2UQ7kNvwGXML1D&_nc_oc=AdnVAqUgFY24UpA3KWOnm5cfk_fhT5YGVKL5KJj2FgLxywQe5J0YmlYZC-g9Q-x67iBN28VU-GPBPIV_0Eoh3pDR&_nc_zt=23&_nc_ht=scontent.fsgn19-1.fna&_nc_gid=m0Emi5IkkEB_lQ9Tm5L2_g&oh=00_AfOfQnks9rXkwAA_d4JSxKSLff7_NJ36R_mirpU5kDPjig&oe=68632E80");
}

/* 📱 Giao diện cho điện thoại */
@media screen and (max-width: 768px) {
  .fullscreen-image {
    background-image: url("https://scontent.fsgn19-1.fna.fbcdn.net/v/t39.30808-6/459328906_1638429153388883_8816997875956938008_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=pvVaMWNEyPkQ7kNvwEpdlCA&_nc_oc=AdlMrjmQTmP6GuG4S5e-qb3ZXLDO6zjyfbeGVz4SogJYaeH_Ipox9E_qvOW5XKIaNsQoUTA6izdjDJkRK0-IuRBy&_nc_zt=23&_nc_ht=scontent.fsgn19-1.fna&_nc_gid=4ooNH8c-9t2kizVKBTjX2g&oh=00_AfPRX7a_30x7KuLt9F2IwdCyIdX4SY5ygOnic1bLBf4YEQ&oe=68631F7B");
    background-position: center center;
  }
}



