<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">solutide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000">Trang Chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">Yêu thích</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">Đồ Uống</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">Tiệm Đồ</a>
      </li>
    </ul>
    <!-- Thanh tìm kiếm -->
   <form action="/news" method="GET" class="form-inline my-2 my-lg-0 ml-auto">
      <div class="search-container">
        <input
          class="form-control search-input"
          type="search"
          name="khuvuc" 
          placeholder="Tìm" 
          aria-label="Search"
        />
        <button class="btn btn-outline-light search-button" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>

  </div>
</nav>